beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
deep-translator==1.11.4
idna==3.10
pyTelegramBotAPI==4.27.0
requests==2.32.4
soupsieve==2.7
telebot==0.0.5
typing_extensions==4.14.0
urllib3==2.5.0
